<h3 class="lead">Recipe Detail</h3>
<section>
    <label for="ReceiptName">Title</label>
    <input type="text" class="form-control form-control-sm" value="{{recipe.title}}" #ReceiptName />

    <!-- Ingredients detail-->

    <label>Ingredients</label>
    <div class="input-group my-1" *ngFor="let ingredient of recipe.ingredientList;">
        <button class="btn input-group-addon text-danger">
            <i class="fa fa-trash" (click)="DeleteIngredient(ingredient)"> </i>
        </button>
        <input type="text" class="form-control" value="{{ingredient.name}}"
            (change)="UpdateIngredient(ingredient.name,$event.target.value)"/>
    </div>

    <!-- Add ingredient -->
    <button type="text" class="form-control-sm m-2" (click)="AddNewIngredient()">
        <i class="fa fa-plus-circle"></i>
        Add Ingredient
    </button>

    <!-- Save -->
    <!-- <button class="btn btn-primary float-right"><i class="fa fa-save fa-lg"></i> Save</button> -->

</section>