<div class="mx-3 mt-2 border">
    <h3 class="display-4 ml-3">Recipes</h3>
    <hr />

    <!-- New recipe Form -->
    <div>
        <p class="lead ml-4">New Recipe</p>
        <input type="text" class="px-2 mx-4" placeholder="My fancy recipe" #recipeTitle />
        <button type="button" class="btn btn-primary" (click)="addrecipe(recipeTitle.value)">Add</button>
    </div>


    <div class="container-fluid my-3">
        <div class="row">

            <!-- List of recipes -->
            <div [ngClass]="[detailsHidden? 'col-md-12' : 'col-md-6']">
                <h3 class="lead">Recipe List</h3>
                <ul class="list-group">
                    <!-- Recipe Item -->
                    <li *ngFor="let recipe of recipeList;" class="list-group-item" appHighlighter>
                        {{recipe.title | recipeCustomizer}}

                        <!-- <img *ngIf="recipe.img" src="{{recipe.img}}" class="rounded img-thumbnail h-25 mh-100 mw-100"/> -->

                        <a type="button" class="btn btn-outline-primary littlePadding pull-right"
                            (click)="showDetails(recipe)">
                            <i class="fa fa-eye"></i>
                        </a>

                        <div *ngIf="recipe.ingredientList != null && recipe.ingredientList.length > 0">
                            <button type="button" class="btn btn-link"
                                    (click)="toggleIngredients(recipe)">
                                Ingredients <i [ngClass]="[recipe.collapsed ? 'fa fa-caret-down' : 'fa fa-caret-up']"></i>
                            </button>

                            <!-- Ingredients list-->
                            <ul [hidden]="recipe.collapsed">
                                <li *ngFor="let ingredient of recipe.ingredientList">{{ingredient.name}}</li>
                            </ul>

                        </div>
                        
                    </li>
                </ul>

            </div>
            
            <!-- recipe Detail -->
            <recipe-detail
                            [hidden]="detailsHidden"
                            class="col-md-6">
            </recipe-detail>

        </div>
    </div>
</div>