.no-padding {
    padding: 0 !important;
}

#recipes, #ingredients {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#or-separator {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

#recipes > div, #ingredients > div {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#recipes:hover > div, #ingredients:hover > div {
    cursor: pointer;
    -webkit-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
}

#recipes > div {
    background: url("../../assets/recipes-wallpaper.jpg");
    filter: grayscale(82%);
    background-size: cover;
    background-repeat: no-repeat;
}

#ingredients > div {
    background: url("../../assets/ingredients-wallpaper.jpg");
    filter: grayscale(90%);
    background-size: cover;
    background-repeat: no-repeat;
}