<div class="row m-0">

    <div class="col" id="recipes">
        <div class="mx-3 my-2 py-5" (click)="GoToRecipes()">
            <h2>Recipes</h2>
        </div>
    </div>

    <div class="col-2 text-center align-self-center" id="or-separator">
        OR
    </div>

    <div class="col" id="ingredients">
        <div class="mx-3 my-2 py-5" (click)="GoToIngredients()">
            <h2>Ingredients</h2>
        </div>
    </div>
    
</div> 